.carousel-item{
    width: 200px;
    height: 240px;
    border-radius: 20px;
    background: white;
    overflow: hidden;
    display: inline-block;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
    margin: 1% 5px;
    white-space: normal;
}

/*hover*/

.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1
}

.carousel-item__img {
    width: 200px;
    height: 240px;
    object-fit: cover
}
.carousel-item__details{
    text-align: start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.99) 0%, rgba(0, 0, 0, 0.9) 100%);
    font-size: 0.7rem;
    opacity: 0.6;
    transition: 450ms opacity;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-weight: bold;
    align-items: center;
    visibility: hidden;
    justify-content: left;
    padding: 10px;
    padding-right: 25px
}
.carousel-item:hover .carousel-item__details {
    visibility: visible;
    opacity: 0.9
}

/* no estoy pudiendo hacer que en pantallas mas chicas (donde el grupo de cursos se orienta mas vertical), el efecto por hover sea de desplazamiento vertical, en vez de horizontal, para que acompanie el flow y sea mas armonioso. */

@media all and (max-width: 1323px) {
    .carousel-item {
        transform-origin: top bottom;
    }
    .carousel-item:hover{
        transform: translate3d(0, 100px, 100px);
    }
}