.navegacion {  
  box-sizing: border-box;
    font-size: 0.80rem;
    padding: 5px;
    margin: 10px;
  }

.navegacion li {
    flex: 1;
    list-style: none;
    transition: 0.6s
}

.navegacion li:hover {
    color: rgb(211, 211, 211);
    transform: scale(1.4)
}

.barra {
  visibility: hidden;
	opacity: 0.7;
  display: flex;
  flex-flow: row;
  margin-right: 35px
}

.navegador p{
  margin-bottom: 10px
}

/* hover */

.navegacion:hover .barra{
  visibility: visible;
}

/* focus */

.navegador:focus-within  .barra{
  visibility: visible;
}

.barra li a {
    text-decoration: none;      
    color: rgb(49, 61, 61)
  }
  
@media all and (max-width: 1400px) {
  .navegacion {  
    display: none
  }
}