.container {
    display: grid;
    justify-content: center;
}

.form-container {
    display: grid;
    align-items: center;
    grid-template: 1fr 1fr 4fr 1fr / 1fr 3fr;
    grid-area: 'nombreLabel nombreInput'
               'empresaLabel empresaInput'
               'tvieja mensaje'
               'submit submit';
    grid-gap: 20px;
    width: 50vw;
    justify-content: center
}

.form-container input, textarea {    
    background-color: rgba(128, 128, 128, 0.753);
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: auto 20px;
}

::placeholder {
    color:white
}

#nombreLabel {
    grid-area: 'nombreLabel'
}

#nombreInput {
    grid-area: 'nombreInput';
}

#empresaLabel {
    grid-area: 'empresaLabel' 
}

#empresaInput {
    grid-area: 'empresaInput'   
}

#mensaje {
    grid-area: 'mensaje';
    padding: 30px
}

.submitForm {
    grid-area: 'submit'
}