.pie {
    font-size: 0.8em;
    color: lightgrey;
}

.copy{ 
    margin-left: 50px;
    position: absolute;
    bottom: 5px;
    left: 5px
}
.contacto {    
    margin-right: 50px;
    position: absolute;
    bottom: 5px;
    right: 5px
}

@media all and (max-width: 1400px) {
    .pie{
        margin-top: 30px;
        padding: 30px auto
    }
}

@media all and (max-width: 720px) {
    .pie{
        display: grid;
        bottom: 50px;
        margin: auto;
        grid-gap: 10px;
    }        
    .copy { 
        position: relative;
        margin: auto
    }
    .contacto {    
        position: relative;
        margin: auto
    }
}