.formacion {    
    color: rgb(206, 206, 206);
    text-align: center;
    box-shadow: 2px 2px 10px grey;
    text-align: center;
    margin-top: 45px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(189, 188, 188);
}
.listado {
    display: flex;
    justify-content: space-around;
}
.listado li {
    box-shadow: 2px 2px 10px grey;
    text-align: center;
    margin-top: 45px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(189, 188, 188);
}
.listado li:hover{
    transform: scale(1.1);
    transition: 500ms all;
}