.navegacion {  
    text-align: center;
    font-size: 0.80em;
    padding: 5px;
    margin: 20px;
  }
  .navegacion li {
    padding: 3%;
    display: inline;
    margin: 3px;
  }
  .navegacion li a {
      
    color: rgb(49, 61, 61)
  }
    
@media all and (max-width: 1400px) {
  .navegacion {  
    display: none
  }
}