.tarjeta {
    box-shadow: 2px 2px 10px grey;
    text-align: center;
    margin-top: 45px;
    padding: 8px;
    border-radius: 2px;
    cursor: pointer;
    color: rgb(189, 188, 188);
    transition: 500ms;
    margin: 5% 25%;
    min-width: 235px;
	max-width: 250px;
	z-index: 1;
}

/* Dejo comentado hasta que resuelva poder hacer animacion sin que .tarjeta se overflowee sobre .overlay (no pude resolverlo con z-index, ni cambiando el position de .overlay)

.tarjeta:hover {
    transform: scale(1.15);
	z-index: 1;
}
*/

.btn-abrir-popup {
	padding: 0 20px;
	margin-bottom: 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
	cursor: pointer;
}

.btn-abrir-popup:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlay {
	background: rgba(0,0,0,.4);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
	z-index: 0;
	opacity: 1
}

.overlay.active {
	visibility: visible;
	z-index: 0;
}

.popup {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.95), rgb(226, 226, 226));
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
    overflow: hidden;
    z-index: 0;
}

.popup .btn-cerrar-popup {
	width: 70%;
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 2.5em;
	font-weight: 600;
	margin-bottom: 3%;
	opacity: 0;

}

.popup h4 {
	font-size: 1.5em;
	font-weight: 300;
    opacity: 0;
    margin-top: 5%
}

.popup form .contenedor-inputs {
	width: 90%;
	height: 90%;
    opacity: 0;
}
.popup form .contenedor-inputs button {
	margin: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
	width: 120px;
    outline: none
}

.popup form .btn-submit {
	padding: 0px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
    transition: .3s ease all;
    width: 320px;
	outline: none;
}



@media only screen and (max-width: 1400px) and (min-height: 1400px) {
	.tarjeta {		
		margin: 5% 25%;
	}

	.popup {
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
		border-radius: 3px;
		font-family: 'Montserrat', sans-serif;
		padding: 20px;
		text-align: center;
		width: 75%;
		height: 60%;
		justify-items: center;
		
		transition: .3s ease all;
		transform: scale(0.3);
		opacity: 0;
	}
	.popup form .contenedor-inputs {
		opacity: 0;
		display: block;
		text-align: center;
		padding: 30px;
		margin: 20px auto;
	}
	.popup form .contenedor-inputs button {
		height: 52px;
		font-size: 18px;
		line-height: 52px;
		text-align: center;
		border: 1px solid #BBBBBB;
		width: 120px;
		margin: 40px auto;
	}
  }

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}