.skills {
    margin-left: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%
}

.skills div {
    margin: 5px;
    padding: 3px;
    min-width: 235px;
    max-width: 250px;
}

.i {
    float: left;
}

.d {
    float: right;
}