*:focus {
  outline: 0
}

$gris: rgba(206, 206, 206, 0.938);

@mixin grid {
  display: grid;
}


.App {  
  @include grid;
  max-height: 1900px;
  background-image: url(./fondo-modificado.jpg);
  color: $gris;
  height: 100%;
  font-weight: bold;
  grid-template: 1fr 2fr 3fr 2fr 10fr 1fr / repeat(6, 1fr);
  grid-template-areas: "App__header App__header App__header App__header App__header App__header"
                       "yo yo yo yo yo yo"
                       "skills skills skills skills skills skills"
                       "experiencia experiencia experiencia experiencia experiencia experiencia"
                       "carousel carousel carousel carousel carousel carousel"
                       "pie pie pie pie pie pie";
  align-items: center
}

.App__header {
  grid-area: App__header;
  box-sizing: border-box;
  text-align: center;
  font-size: 2em;
  padding: 20px;
}

.App__yo {
  grid-area: yo;
  display: flex;
  flex-flow: row;
  align-items: center
}

.skills {
  grid-area: skills;
}

.experiencia {
  grid-area: experiencia;
}

.carousel {
  grid-area: carousel;
}

.pie {
  grid-area: pie;
}

@media all and (max-width: 1400px) {
  .App{
    background-image: url(./fondo-small.jpg);
    min-height: 100%;
    max-width: 100%;
    display: block
  }
  .App__yo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    margin: 50px 30px;
    justify-content: center;
  }
}




