.App {  
  display: block;
  min-height: 800px;
  background-color: #efefef;
}

.App .header {
  text-align: center;
  font-size: 2em;
}

.navegacion {  
  text-align: center;
  font-size: 0.80em;
}
.navegacion li {
  padding: 3%;
  display: inline;
}

* {
  padding: 5px
}