.App {  
  min-height: 800px;
  background-image: url(https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/mac-mini-gallery-3?wid=4056&hei=2400&fmt=jpeg&qlt=80&op_usm=0.5,0.5&.v=1539897080761);
  color: rgb(105, 105, 105);
  font-weight: bold;
  margin: 0px
}

.App .header {
  text-align: center;
  font-size: 2em;
}

.yo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin: 50px 30px;
  align-items: center
}

@media all and (max-width: 1400px) {
  .yo {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    margin: 50px 30px;
    align-items: center;
    justify-content: center;
  }
}

* {
  margin: 0px
}